<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Wrist Message WatchKit App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Wrist Message.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2F931A261C93C0EB005ABAA4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2F931A3A1C93C0EB005ABAA4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2F931A451C93C0EB005ABAA4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2F931A4E1C93C0EB005ABAA4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
